
@media screen and (max-width:600px) {
    .container{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 100px 360px auto 100px;
        grid-template-areas: 
        "header"
        "aside"
        "conte"
        "footer";
    }

    .menu-abierto,.menu-cerrado{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align:center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.5s;
    }

    .menu > ul{
        margin: 0;
        display: block;
        padding: 20px;
    }

    .menu a{
        margin: 0;
        display:block;
        padding: 20px;
    }
   
    
    .menu-cerrado{
        position: absolute;
        top: 20px;
    }

    #botton:checked ~ .menu{
        right: 0;
    }
    
    .flex{
        width: 40%;
        height: 250px;
    }

    .items-img{
        width: 100%;
        height: 100%;
    }
}