
.header{
    color:#fff ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
}

.menu > ul{
    gap: 15px;
    display: flex;
}

.menu > ul > li {
    list-style: none;
}

.menu > ul > li > a{
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
}
/*icon bars*/
.menu-abierto,
.menu-cerrado{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;    
}

.menu-abierto{
    order: 1;
}

.menu a{
    color: #fff;
    padding: 0 10px;
    transition: 0.4s;
}

#botton{
    display: none;
}

.title{
    text-transform:uppercase;
    color: #fff;
    text-align: center;
}
/*box*/
.box{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    
}

.flex{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.items-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*fin-box*/

.aside{
    background-color: #827397;
}
.aside > ul > li{
    padding: 3px;
    list-style: none;
    margin-bottom: 5px;
}

/*Footer*/
.footer{
    padding: 10px;
    background-color: #333;
}

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.title-social{
    text-align: center;
    color: #fff;

}
.social-media{
    display: flex;
    justify-content: center; 
}

.media{
    font-size: 18px;
    text-decoration: none;
    margin-top: 17px;
    color: #fff;

}

.copyrigth{
    color: #fff;
    text-align: center;
}
/**/

/*formulari*/
.field-class{
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    border:2px solid #151515;
    border-radius: 20px;
}

.field-class > div{
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
    width: 300px;
}
/*fin-formulari*/

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}